<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
       	<link href="/style.css" rel="stylesheet">
        <script type="text/javascript" src="/eel.js" defer></script>
        <script type="text/javascript" src="/mamo.js" defer></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>