{% extends 'base.j2' %} 
{% block title %}MAMO{% endblock %}
{% block content %}
    <h1>MAMO v0.3</h1>

    <h2>Test area</h2>
    <div id="testArea">
        <a href="#" id="listTest">Test button</a>
        <div id="testList">
        </div>
    </div>

    <h2>List redirections</h2>
    <div id="listRedirArea">
        <a href="#" id="listRedir">List redirections</a>
        <div>
            <ul id="redirList">
            </ul>
        </div>
    </div>

    <h2>Add  redirection</h2>
    <div id="addRedirArea">
        <form method="post" id="addRedirForm">
            <input type="text" id="name" class="input" name="name" maxlength="120" placeholder="Name/description">
            <input type="text" id="alias" class="input" name="alias" maxlength="64" placeholder="myalias@mydomain.com">
            <input type="text" id="to" class="input" name="to" maxlength="64" placeholder="myprivate@email.com">
            <input type="submit" class="submit" value="Send">
        </form>
    </div>
{% endblock %}