{% extends 'base.j2' %} 
{% block title %}MAMO{% endblock %}
{% block content %}
    <h1>MAMO v0.3</h1>
    <a href="#" id="listRedir">List redirections</a>
    <div id="redirList">
        <ul>
            <li>None</li>
        </ul>
    </div>
{% endblock %}