{% extends 'base.j2' %}
{% block title %}MAMO{% endblock %}
{% block content %}
<div id="wrapper">
    <h1 class="text-4xl text-amber-200">MAMO v0.4</h1>

    {# <h2>Test area</h2>
    <div class="box">
        <a href="#" id="listTest">Test button</a>
        <div id="testList">
        </div>
    </div> #}

    <h2 class="toggleshow text-1xl"><span id="redir-count">{{ redirs|length }}</span> aliases</h2>

    <select name="domain-select" id="domain-select">
        <option value="all">All</option>
        {% for d in domains %}
        <option value="{{ d }}">{{ d }}</option>
        {% endfor %}
    </select>
    <select name="dest-select" id="dest-select">
        {% for d in def_dest %}
        <option value="{{ d }}">{{ d }}</option>
        {% endfor %}
    </select>

    <p>
        <button id="show-hide" type="button">
            <i data-feather="eye"></i>
        </button>
        <button id="new-alias" type="button">
            <i data-feather="plus"></i>
        </button>
        <button id="save-alias" type="button" disabled>
            <i data-feather="save"></i>
        </button>
        <button id="cancel-alias" type="button" disabled>
            <i data-feather="x"></i>
        </button>
        <button id="refresh-redirs" type="button">
            <i data-feather="refresh-cw"></i>
        </button>
        <button id="sync-remote" type="button">
            SYNC REMOTE
        </button>
    </p>

    <p>
        <input type="text" id="find" class="input" name="find" maxlength="80" placeholder="Search...">
        <button id="test-btn" type="button">TEST</button>
        <div id="redir-list" class="fade-bottom">
            {% include 'table.j2' %}
        </div>
    </p>
</div>

<dialog id="dialog-del">
    <p></p>
    <form method="dialog">
        <button value="yes">Yes</button>
        <button value="no" formmethod="dialog" autofocus>NO</button>
    </form>
</dialog>

<dialog id="dialog-syn">
    <p></p>
    <form method="dialog">
        <button value="ok" formmethod="dialog" autofocus>OK</button>
    </form>
</dialog>

{# <div class="p-6 max-w-sm mx-auto bg-purple-900 rounded-xl shadow-lg flex items-center space-x-4 hidden">
  <div class="shrink-0">
    <img class="h-12 w-12" src="/static/info_bubble.svg" alt="Info">
  </div>
  <div>
    <div class="text-xl font-medium text-purple-100">Info</div>
    <p class="text-purple-100">You have a new message!</p>
  </div>
</div> #}
{% endblock %}