{% extends 'base.j2' %}
{% block title %}MAMO{% endblock %}
{% block content %}
<div id="wrapper">
    <h1>MAMO v0.3</h1>

    {# <h2>Test area</h2>
    <div class="box">
        <a href="#" id="listTest">Test button</a>
        <div id="testList">
        </div>
    </div> #}

    <h2 class="toggleshow">Aliases</h2>
    <button id="show-hide" type="button"><i data-feather="eye"></i></button> <button id="new-alias" type="button"><i data-feather="plus"></i></button> <button id="save-alias" type="button" disabled><i data-feather="save"></i></button> <button id="cancel-alias" type="button" disabled><i data-feather="x"></i></button>
    <p><span id="redir-count">{{ redirs|length }}</span> aliases <button id="refresh-redirs" type="button"><i data-feather="refresh-cw"></i></button>
    <input type="text" id="find" class="input" name="find" maxlength="80" placeholder="Search...">
    <div id="redir-list" class="fade-bottom">
        {% include 'table.j2' %}
    </div>

    <h2>Add redirection</h2>
    <a href="" id="gen-uuid">Generate random UUID address</a>
    <form method="post" id="redir-form" class="flex-utd">
        <input type="text" id="name" class="input" name="name" maxlength="120" placeholder="Name/description">
        <input type="text" id="alias" class="input" name="alias" maxlength="64" placeholder="my_alias@mail.com">
        <input type="text" id="to" class="input" name="to" maxlength="64" placeholder="my_private@mail.com">
        <input type="submit" class="submit" value="Create">
    </form>
</div>

<dialog id="dialog-del">
    <p>Delete ?</p>
    <form method="dialog">
        <button value="yes">Yes</button>
        <button value="no" formmethod="dialog" autofocus>NO</button>
    </form>
</dialog>
{% endblock %}