{% extends 'base.j2' %} 
{% block title %}MAMO{% endblock %}
{% block content %}
    <div id="wrapper">
        <h1>MAMO v0.3</h1>

        {# <h2>Test area</h2>
        <div class="box">
            <a href="#" id="listTest">Test button</a>
            <div id="testList">
            </div>
        </div> #}

        <h2 class="toggleshow">Aliases</h2>
        <a href="#" id="showHide">Show/hide</a>
        <p>{{ redirs|length }} aliases - <a href="#" id="refresh-redirs">refresh</a></p>
        <input type="text" id="find" class="input" name="find" maxlength="80" placeholder="Search...">
        <div id="redir-list" class="fade-bottom">
            <table id="redir-tab">
                <thead>
                    <tr>
                        <th>Name/description</th>
                        <th>Date modified</th>
                        <th>Alias</th>
                        <th>Destination addr</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in redirs %}
                    <tr id="{{ r }}">
                        <td>{{ redirs[r]['name'] }}</td>
                        <td>{{ redirs[r]['date'] }}</td>
                        <td>{{ redirs[r]['alias'] }}</td>
                        <td>{{ redirs[r]['to'] }}</td>
                        <td><i data-feather="edit"></i><a class="del-btn" href=""><i data-feather="trash-2"></a></i></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name/description</th>
                        <th>Date modified</th>
                        <th>Alias</th>
                        <th>Destination addr</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <h2>Add redirection</h2>
        <a href="" id="gen_uuid">Generate random UUID address</a>
        <form method="post" id="redir_form" class="flex-utd">
            <input type="text" id="name" class="input" name="name" maxlength="120" placeholder="Name/description">
            <input type="text" id="alias" class="input" name="alias" maxlength="64" placeholder="my_alias@mail.com">
            <input type="text" id="to" class="input" name="to" maxlength="64" placeholder="my_private@mail.com">
            <input type="submit" class="submit" value="Create">
        </form>

        <h2>Remove alias</h2>
        <form method="post" id="del_redir_form" class="flex-utd">
            <input type="text" id="id_del" class="input" name="id_del" maxlength="64" placeholder="Id of the alias to remove">
            <input type="submit" class="submit" value="Remove">
        </form>
    </div>

    <dialog id="dialog-del">
        <p>Delete ?</p>
        <form method="dialog">
            <button value="yes" >Yes</button>
            <button value="no" formmethod="dialog" autofocus>NO</button>
        </form>
    </dialog>

{% endblock %}