<table id="redir-tab">
    <thead>
        <tr>
            <th class="minw-20">Name/description</th>
            <th>Date</th>
            <th>Alias</th>
            <th class="minw-20">Destination addr</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for r in redirs %}
        <tr id="{{ r }}">
            <td data-alias-item="name">{{ redirs[r]['name'] }}</td>
            <td data-alias-item="date" class="no-wrap">{% if redirs[r]['date'] %}<time>{{ redirs[r]['date'] }}</time>{% endif %}</td>
            <td data-alias-item="alias">{{ redirs[r]['alias'] }}</td>
            <td data-alias-item="to">{{ redirs[r]['to'] }}</td>
            <td data-alias-item="edit" class="text-center no-wrap"><button class="btn-edit" href=""><i data-feather="edit"></i></button><button class="btn-del" href=""><i data-feather="trash-2"></i></button></td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Name/description</th>
            <th>Date</th>
            <th>Alias</th>
            <th>Destination addr</th>
            <th></th>
        </tr>
    </tfoot>
</table>